.robotoFont{
    font-family: "Roboto", sans-serif;

}

.formatoTarjetas{
    background-color: #1b4332;
    color: white;
    border: #1b4332;
}

.textUnderline:hover{
    text-decoration: underline;
    cursor: pointer;
}

.formatoLogotipos{
    color:#43aa8b;
    font-size: 20px;
}

.formatoLogotipos:hover{
    color:#7ae3c2;
    font-size: 23px;
}

.animacionImg{
    transition: all 0.4s ease;
    margin:auto;
}

.animacionImg:hover{
    box-shadow: 0 0 20px rgba(120,255,220,.6);
     margin:auto;
}
